@media screen and (max-width: 800px){
    .Wallet-section .yrqf{
        padding: 25px 20px;
    }
    .Wallet-section .rtwfg p {
        font-size: 14px;
        font-family: 'urbanist-regular';
        color: rgba(255,255,255, 0.7);
    }
    .Wallet-section .yrqf .row{
        flex-direction: column;
        align-items: baseline;
    }
    .tereg{
        margin-bottom: 30px;
    }
    .Wallet-section a.treg, .Wallet-section a.uuy{
        width: 100px;
        height: 34px;
        font-size: 12px;
    }
    .Wallet-section button.teeww{
        font-size: 12px;
        min-height: 40px;
        min-width: 120px;
    }
    .Wallet-section{
        padding: 20px 0px !important;
    }
    .Wallet-section .fsdg a{
        /* font-size: 14px; */
        display: none;
    }
    .Wallet-section .pls_ger{
        flex-direction: column;
        gap: 3px;
    }
    .accoutn .pls_ger .col.weel{
        width: initial;
        padding: 20px;
    }
    .accoutn .pls_ger .col.utfd{
        width: inherit;
        padding: 20px;
    }
    .gdgfs p{
        font-size: 13px !important;
    }
    .gdgfs h3{
        font-size: 16px;
    }
    .col.gdgfs:nth-child(1) {
        width: 48%;
        margin-bottom: 30px;
    }
    .col.gdgfs:nth-child(2) {
        width: 48%;
        margin-bottom: 30px;
    }
    .Wallet-section .assets{
        margin-top: 3px;
        padding: 25px 15px;
    }
    .assets table tbody tr td:last-child, .assets table thead tr th:last-child{
        display: none;
    }
    .assets table tbody tr td:nth-child(4), .assets table thead tr th:nth-child(4){
        text-align: end;
    }
    .assets table tbody tr td:nth-child(3), .assets table thead tr th:nth-child(3){
        text-align: center;
    }
    .assets table th, .assets table tbody tr td span{
        font-size: 10px !important;
    }
    .assets table tbody tr td span{
        margin-top: -2px;
    }
    .wer img {
        width: 20px;
    }
    td.wer h3{
        font-size: 14px !important;
    }
    td.wer{
        gap: 8px !important;
    }
    .assets table tbody tr td p{
        font-size: 12px !important;
    }
    .row.hjdsd {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
}