.ffffff_s{
    height: 1200px;
}
#header-row{
    background: #000000;
}
#header-row.stick_header {
  background: #000000 !important;
  z-index: 11;
  position: relative;
  box-shadow: 0 0 30px 0 hsla(0,0%,100%,.25);
}
.stick_header {
    position: sticky !important;
    top: 0;
}
#main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0;
    width: 100%;
}
#header-row .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular{
    min-height: 48px;
}
.logo-nav {
    align-items: center;
    column-gap: 20px;
    display: flex;
    width: 80%;
}
.header-logo {
    height: fit-content;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: fit-content;
    padding: 0 !important;
}
.login-buttons {
    justify-content: end;
    position: relative;
    text-align: right;
    width: 20%;
}
.header-logo a {
    display: flex;
}
.header-logo a img {
    width: 107px;
}
.headermore_row {
    align-items: center;
    display: flex;
    height: fit-content;
    padding: 0;
}
a.header-more {
    padding: 16px 0;
}
.header-more svg {
    height: 18px;
    width: 18px;
}
ul.navlink {
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0px !important;
}
ul.navlink li {
    list-style-type: none;
    display: flex;
}
ul.navlink li a {
    font-size: 15px;
    font-family: 'urbanist-regular';
    position: relative;
}
ul.navlink li a:after {
    background-color: #5ed3f0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 24px;
    transition: 1s;
    width: 0;
}
ul.navlink li a:hover:after {
    width: 100%;
}
a.xchng_btn {
    background: #FFF;
    color: #000;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'urbanist-regular';
}
a.dex__btn {
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'urbanist-regular';
}
.tab_btn {
    background: #1F1F1F;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    display: flex;
}

/* Mega Menu */
.header-more svg path {
    fill: #FFFFFF;
  }
  .header-more svg  {
    width: 18px;
    height: 18px;
    position: relative;
    top: 1px;
  }
  .headermore_row {
    padding: 0px;
    height: 18px;
  }
  .mega_menu {
    position: absolute;
    left: 0;
    top: 47px;
    opacity: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0px 10px 40px rgb(0 0 0 / 25%);
    transition: .3s;
    display: none;
    min-height: 455px;
    z-index: 10;
  }
  .mega_menu .col1 {
    flex: 1;
    padding-left: 11%;
    padding-right: 90px;
    padding-top: 40px;
  }
  .mega_menu .top_heading {
    display: flex;
    justify-content: space-between;
    column-gap: 55px;
  }
  .mega_menu .top_heading h4, .community_inner, .mega_menu .social_links {
    width: 33.33%;
  }
  .mega_menu h4 {
    font-size: 18px;
    line-height: 24px;
    font-family: "Hauora_bold",sans-serif;
    padding: 10px 0 10px 0px;
    border-bottom: 0.4px solid #d0d0d0;
    color: #000000;
    font-weight: 400;
    margin: 0px !important;
  }
  .mega_menu .main_service_wrapper {
    display: flex;
    padding: 30px 0 10px;
    column-gap: 55px;
  }
  .main_service a, .social_link_inner a {
    display: block;
    padding: 12.5px 0px;
    color: #000000;
    font-family: 'urbanist-regular' !important;
    font-size: 14px;
    line-height: 20px;
    width: fit-content;
    text-decoration: none;
  }
  .main_service a:hover, .social_link_inner a:hover{
    color: #5ed3f0 !important;
  }
  .main_service a:first-child, .social_link_inner a:first-child, .mega_menu .boxx-links a:first-child{
    padding-top: 0px !important;
  }
  .mega_menu .col2 {
    width: 30%;
    background: #f3f4f5;
    padding-left: 80px;
    padding-top: 40px;
  }
  .mega_menu .right_inner {
    max-width: 210px;
  }
  .connect_links .box {
    margin-top: 30px;
    border: 0.2px solid transparent;
  }
  .connect_links .box a {
    margin: 12px 0;
  }
  .connect_links a {
    display: inline-block;
    text-align: left;
    font-size: 10px;
    line-height: 14px;
    color: #141414;
    margin: 15px 10px;
    font-family: "Hauora_regular",sans-serif;
    text-transform: capitalize;
  }
  .right_inner a p {
    text-transform: initial;
  }
  .connect_links p {
    font-size: 9px;
    line-height: 12px;
    color: #141414;
    text-align: left;
    opacity: .4;
    padding: 10px 0 15px;
    cursor: pointer;
    font-family: 'urbanist-regular';
  }
  .connect_links svg {
    transform: none !important;
    margin: 0;
  }
  .connect_links .box a {
    color: #141414 !important;
    margin-top: 0px !important;
  }
  .main_title a svg {
    margin-left: 12px;
  }
  .main_title a:hover svg{
    transform: rotate(180deg);
  }
  .mega_menu .social-icons .icons a{
    background: rgba(0, 0, 0, 0.1) !important;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mega_menu .social-icons .icons a:hover{
    background: #5ed3f0 !important;
    border: none !important;
    border-radius: 8px !important;
  }
  .mega_menu .social-icons{
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
  }
  .mega_menu .boxx-links a {
    display: block !important;
    font-size: 14px;
    font-family: 'urbanist-regular';
    margin-bottom: 0px;
    padding: 15.5px 0px;
    width: fit-content;
    text-decoration: none;
  }
  .mega_menu .boxx-links a:hover{
    background: none;
    border: none;
    border-radius: none;
    color: #5ed3f0 !important;
  }
  .mega_menu .boxx-links{
    margin-bottom: 40px;
  }
  .headermore_row:hover .mega_menu {
    display: flex;
    opacity: 1;
    transition: .3s;
  }
  a.header-more{
    display: flex;
  }
  .header-sec .container.header-container {
    max-width: 1500px;
    padding: 0px !important;
    width: 100%;
  }
  .social-icons .icons a img {
    width: 20px;
    height: auto;
  }
  
  
  
  .login-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    max-height: 28px;
  }
  .downloadQRCode {
    padding: 14px 0;
    position: relative;
    width: fit-content;
    cursor: pointer;
  }
  .downloadQRCode:hover #headerDownloadApp {
    display: block;
  }
  #headerDownloadApp {
    background-color: #fff;
    border-radius: 4px;
    border-radius: 8px;
    bottom: 10px;
    bottom: auto;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
    cursor: default;
    cursor: pointer;
    display: none;
    overflow: hidden;
    padding: 0 16px 16px;
    position: absolute;
    right: -110px;
    top: 47px;
  }
  .storeicons svg path {
    fill: #FFFFFF;
  }
  #headerDownloadApp .download-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0;
    white-space: nowrap;
  }
  #headerDownloadApp .download-box .qr-box {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: normal;
    vertical-align: top;
    width: 92px;
  }
  #headerDownloadApp .download-box .qr-box img {
    display: block;
    height: 92px;
    padding: 0;
    width: 92px;
  }
  #headerDownloadApp .download-box .pc-box {
    align-items: center;
    color: #fff;
    display: inline-flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: space-between;
    margin-left: 16px;
    margin-top: 0;
    vertical-align: top;
    width: 107px;
  }
  #headerDownloadApp .download-box .text {
    color: #35384a;
    font-family: urbanist-regular;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    white-space: normal;
    word-break: break-word;
  }
  .translate_lng {
    position: relative;
    padding: 14px 0px;
  }
  div#tran_lang {
    display: flex;
    gap: 5px;
  }
  #language_trans {
    background-color: #fff;
    border-radius: 8px;
    bottom: auto;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.15);
    cursor: pointer;
    display: none;
    min-width: 70px;
    overflow: hidden;
    padding: 0 16px 16px;
    position: absolute;
    right: 0;
    top: 47px;
  }
  #tran_lang h1 {
    /* min-width: 70px!important; */
    font-family: 'Urbanist-Light';
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 300;
  
  }
  div#tran_lang svg {
    padding-top: 5px;
    width: 10px;
  }
  div#tran_lang svg path{
    fill: #FFFFFF;
  }
  #tran_lang:hover {
    cursor: pointer;
  }
  .translate_lng:hover #language_trans {
    display: block;
  }
  .language-box {
    display: block;
    padding: 16px 0 0;
  }
  .language-box a {
    background: none;
    border: none;
    color: #000;
    display: block;
    font-family: 'Urbanist-Regular';
    font-size: 14px;
    margin: 8px 0;
    padding: 0!important;
    text-align: left;
    text-decoration: none;
  }
  .language-box a:hover{
    color: #5ed3f0;
  }
  a.signin-out, a.switch{
    font-size: 14px;
    line-height: 20px;
    /* min-width: 70px; */
    width: fit-content;
    background: #000;
    border: 1px solid #5ed3f0;
    color: #FFFFFF;
    text-transform: capitalize;
    border-radius: 7px;
    padding: 0px;
    min-height: 34px;
    font-family: 'Urbanist-Regular';
    font-weight: 400;
  }
  a.signin-out{
    min-width: 80px;
  }
  a.signin-out:hover{
    background: #5ed3f0;
  }
  a.switch{
    min-width: 90px;
    background: #5ed3f0;
  }
  a.switch:hover{
    background: transparent;
  }
  .nav-vr {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 0px;
  }
  
  .swch__drp {
    position: relative;
    padding: 15px 0px;
  }
  .btnss a {
    font-size: 13px;
    line-height: 20px;
    width: fit-content;
    background: #000;
    border: 1px solid #5ed3f0;
    color: #FFFFFF;
    text-transform: capitalize;
    border-radius: 7px;
    padding: 0px;
    min-height: 34px;
    font-family: 'Urbanist-Regular';
    font-weight: 400;
    min-width: 90px;
  }
  .btnss a:hover{
    background: #5ed3f0;
  }
  .btnss {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .scnd__drp {
    background-color: #000000;
    bottom: auto;
    cursor: pointer;
    display: none;
    min-width: 100px;
    overflow: hidden;
    padding: 0 16px 16px;
    position: absolute;
    right: -16px;
    top: 60px;
  }
  .swch__drp:hover .scnd__drp {
    display: block;
  }
  #header-newmobile{
    display: none;
  }
  .accnt_div {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-right: 20px;
}
.icons_div {
    display: flex;
    align-items: center;
    gap: 20px;
}
a.wallet {
    padding: 0px;
    font-size: 15px;
    font-family: 'urbanist-regular';
    color: #FFFFFF;
    text-transform: capitalize;
    width: fit-content;
    display: block;
    min-width: inherit;
    line-height: 20px;
}
a.accot {
    display: flex;
}
.accnt_div:after {
    content: '';
    background: rgba(255,255,255,0.3);
    width: 1px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
}
.icons_div a, .storeicons {
    display: flex;
}

@media screen and (max-width: 1455px){
    #header-row .css-hyum1k-MuiToolbar-root{
        padding: 0px 20px !important;
    }
}
@media screen and (max-width: 1380px){
    .logo-nav{
        column-gap: 17px;
    }
    ul.navlink, .icons_div, .login-buttons, .accnt_div{
        gap: 17px;
    }
    .accnt_div{
        padding-right: 17px;
    }
}
@media screen and (max-width: 1330px){
    .header-logo a img {
        width: 100px;
    }
    a.xchng_btn, a.dex__btn{
        font-size: 12px;
    }
    ul.navlink li a, a.wallet{
        font-size: 14px;
    }
    .header-more img {
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 1260px){
    .logo-nav{
        column-gap: 15px;
    }
    ul.navlink, .icons_div, .login-buttons, .accnt_div{
        gap: 15px;
    }
    .accnt_div{
        padding-right: 15px;
    }
    .login-buttons img {
        width: 16px;
    }
    .accnt_div img {
        width: 14px;
    }
    .header-logo a img {
        width: 90px;
    }
    a.xchng_btn, a.dex__btn {
        font-size: 10px;
    }
}
@media screen and (max-width: 1200px){
    ul.navlink li a, a.wallet{
        font-size: 13px !important;
    }
    .language-box a{
        font-size: 12px;
    }
    a.xchng_btn, a.dex__btn {
        font-size: 9px;
    }
    .language-box{
        padding-top: 6px;
    }
    #language_trans{
        padding: 0 15px 5px;
    }
}
@media screen and (max-width: 1140px){
    .header-logo a img {
        width: 80px;
    }
    .logo-nav{
        column-gap: 12px;
    }
    ul.navlink, .icons_div, .login-buttons, .accnt_div{
        gap: 12px;
    }
    .accnt_div{
        padding-right: 12px;
    }
}
@media screen and (max-width: 1100px){
    a.xchng_btn, a.dex__btn {
        padding: 4px 8px;
    }
    .header-more img {
        width: 12px;
        height: 12px;
    }
    ul.navlink li a, a.wallet {
        font-size: 12px !important;
    }
    .accnt_div img {
        width: 12px !important;
    }
    .login-buttons img {
        width: 14px;
    }
}
@media screen and (max-width: 1012px){
    ul.navlink {
        display: none;
    }
}

#header-newmobile{
  display: none;
}
@media screen and (max-width: 900px){
  #header-newmobile{
    display: block;
    position: relative;
    padding: 10px 0;
    width: 100%!important;

  }
  #main-header.desktop{
    display: none;
  }
  .mobile .navigation {
    align-items: center;
    background-color: #000;
    box-shadow: 0 2px 2px 2px rgba(9,9,9,.23);
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .navigation-one {
    align-items: center;
    display: flex;
    gap: 15px;
    width: 100%;
  }
  #header-newmobile .translate_lng {
    padding: 10px 0;
    position: relative;
  }
  .mobile-toogle {
    text-align: left!important;
    width: fit-content;
  }
  button.hamburger {
    background: none!important;
    border: 0;
    padding: 0!important;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 1;
    position: relative;
  }
  .hamburger svg {
    height: auto!important;
    width: 17px;
  }
  .hamburger img {
    height: auto!important;
    width: 17px;
  }
  .clols {
    display: none;
  }
  #header-newmobile.header-expanded.avtive .clols {
    display: block;
  }
  #header-newmobile.header-expanded.avtive .mplo {
    display: none;
  }
  .navigation-menu {
    margin-left: auto;
  }
  .navigation-menu.expanded {
    background: #000;
    height: 100vh;
    left: -20px;
    padding: 70px 40px 0;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
    padding: 0;
  }
  .navigation-menu.expanded ul li {
    margin: 0!important;
    padding: 13px 10px;
  }
  .navigation-menu li {
    list-style-type: none;
  }
  #header-row {
    background: #000000;
    z-index: 1;
    position: relative;
  }
  .navigation-menu.expanded ul li a {
    color: #fff;
    font-family: urbanist-regular!important;
    font-size: 19px;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navigation-menu li a {
    display: block;
    text-decoration: none;
  }
  a.download_app {
    border: 1.5px solid #5ed3f0!important;
    color: #fff!important;
    border-radius: 10px;
    width: 100% !IMPORTANT;
    height: 48px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  #header-row .css-hyum1k-MuiToolbar-root{
    padding: 0px !important;
  }
}