@font-face {
  font-family: urbanist-regular;
  src: url(./assets/fonts/Urbanist-Regular.ttf);
}
@font-face {
  font-family: urbanist-light;
  src: url(./assets/fonts/Urbanist-Light.ttf);
}
@font-face {
  font-family: urbanist-medium;
  src: url(./assets/fonts/Urbanist-Medium.ttf);
}
@font-face {
  font-family: urbanist-extralight;
  src: url(./assets/fonts/Urbanist-ExtraLight.ttf);
}
@font-face {
  font-family: urbanist-semibold;
  src: url(./assets/fonts/Urbanist-SemiBold.ttf);
}
@font-face {
  font-family: urbanist-bold;
  src: url(./assets/fonts/Urbanist-Bold.ttf);
}

body{
  background: #000;
  font-family: urbanist-regular !important;
  margin: 0px;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
a{
  color: #FFFFFF;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/************************** Body Scroll Section Starts from here *************************/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 50px;  
}
/************************** Body Scroll Section Ends from here *************************/

h1, h2, h3, h4, h5, p{
  color: #FFFFFF;
  margin: 0px;
}


@media screen and (max-width: 800px){
  .container{
      max-width: inherit;
      width: 100%;
      padding: 0px 20px;
  }
}
